<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.allmybeauty.product.register.mapper.ProductInOutMapper">
	
	<!-- 파일 추가 -->
	<insert id="insertProductIn">
		insert into AMB.product_io values(SQ_PRODUCT_IO_IONO.nextval, #{productId}, null, 'admin', '입고', default, #{productStock})
	</insert>
	
</mapper>